# This is Git's per-user configuration file.
[user]
	name = Nachum Barcohen
	email = 38861757+nabaco@users.noreply.github.com
[core]
	excludesFile = ~/.gitignore
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	path = nvim
[color]
	ui = auto
[init]
	templatedir = /home/nachum/.config/git/
[alias]
	ctags = !.git/hooks/ctags
    st = status
